In [1]:
import pandas as pd
import pymongo

In [2]:
df = pd.read_csv("data.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
data = df.to_dict(orient='records')

In [5]:
#data

In [6]:
from dotenv import load_dotenv
import os
load_dotenv()  # take environment variables from .env.
print(os.getenv("MongoDB_Password"))

ABC

In [9]:
from dotenv import load_dotenv
from pymongo import MongoClient
import os

# Load environment variables from .env file
load_dotenv()

# Fetch the MongoDB URI and password
mongo_uri = os.getenv('MONGO_URI')
db_password = os.getenv('DB_PASSWORD')

# Replace the placeholder with the actual password
mongo_uri = mongo_uri.replace("<db_password>", db_password)

# Connect to MongoDB
client = MongoClient(mongo_uri)

# Test connection
try:
    db = client.test
    print("Connected to MongoDB!")
except Exception as e:
    print(f"Failed to connect: {e}")

Connected to MongoDB!

In [10]:
db = client['Vehicle__Data']
collection = db['Vehicle_Collection']

In [11]:
try:
    result = collection.insert_many(data)
    print(f"Inserted {len(result.inserted_ids)} documents into MongoDB!")
except Exception as e:
    print(f"An error occurred: {e}")

Inserted 381109 documents into MongoDB!

: